.paperColumn {
    border-radius: 1em;
    margin-top: 1em;
    overflow: hidden;
}

#buttonScrollUp {
    display: none;
}

.redesSociales div {
    margin: 0 0 1em 0;
}

.iContorno div img {
    padding: 0.5em;
    border: 0.05em solid grey;
    border-radius: 10%;
    box-shadow: 0.3em 0.3em 0.5em black;
}

.iContorno div img:hover {
    cursor: pointer;
    background-color: silver;
}

.iContorno div img:active {
    box-shadow: 0 0 0.5em black;
}

.highlight {
    background-color: orange;
}

.colorSearchCard {
    background-color: rgb(252, 153, 117);
}

.buttonSearch {
    background-color: rgb(252, 153, 117);
    border-radius: 15%;
    border: none;
    min-width: 2em;
    width: 3em;
    max-width: 3em;
}

.buttonSearch:focus {
    background-color: rgb(252, 153, 117);
}

.buttonSearch:active {
    background-color: rgb(248, 230, 64);
}

.buttonSearch i {
    margin: 5px;
}

.searchCardPadding {
    padding-top: 1em !important;
}

.hidden {
    display: none;
}

#stars {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-image: url("../images/star.png");
    background-size: contain;
}

#stars p {
    font-size: 2em;
    margin: 0;
    padding-top: calc(50% - 0.7em);
}

#searchBar {
    font-weight: bolder;
}