/** PALETA DE COLORES:
*   MARRON = #B2370D
*   MAQUILLAJE = #FF6F3E
*   NARANJITO = #FF5C25
*   BLUESEA = #00B28A
*   LIGHTBLUE = #25FFCD
**/

body {
    background-color: #00B28A;
}

.header {
    background-color: #FF6F3E !important;
}

.page-footer {
    background-color: #FF6F3E !important;
}

.paperColumn {
    border-radius: 1em;
    margin-top: 1em;
    overflow: hidden;
}

#buttonScrollUp {
    display: none;
}

#buttonScrollUp a {
    background-color: #B2370D;
}

.redesSociales div {
    margin: 0 0 1em 0;
}

.iContorno div img {
    padding: 0.5em;
    border: 0.05em solid grey;
    border-radius: 10%;
    box-shadow: 0.3em 0.3em 0.5em black;
}

.iContorno div img:hover {
    cursor: pointer;
    background-color: silver;
}

.iContorno div img:active {
    box-shadow: 0 0 0.5em black;
}

.highlight {
    background-color: orange;
}

.colorSearchCard {
    background-color: white;
}

.buttonSearch {
    background-color: white;
    border-radius: 15%;
    border: none;
    min-width: 2em;
    width: 3em;
    max-width: 3em;
}

.buttonSearch:focus {
    background-color: white;
}

.buttonSearch:active {
    background-color: #FF6F3E;
}

.buttonSearch i {
    margin: 5px;
}

.searchCardPadding {
    padding-top: 1em !important;
}

.hidden {
    display: none;
}

#stars {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-image: url("../images/star.png");
    background-size: contain;
}

#stars p {
    font-size: 2em;
    margin: 0;
    padding-top: calc(50% - 0.7em);
}

#searchBar {
    font-weight: bolder;
}

.noUriStyle {
    color: white !important;
    font-weight: normal !important;
}